@use 'sass:map';
@import './variables.scss';
@import './theme.scss';
@import './spacing.scss';

.container {
  height: 100%;
  display: flex;

  .bars {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 1rem;
    color: var(--md-sys-color-primary-light);
    opacity: 0.5;
    transition: $transition-base;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    background-color: var(--md-sys-color-surface);
    overflow-x: hidden;
    transition: $transition-collapse-width;

    // overlay
    position: fixed;
    z-index: 1;
    height: 100%;
    max-width: 100%;
    width: 0;
    left: 0;
    top: 0;

    &__open {
      width: $sidebar-width;
    }

    &__c {
      display: flex;
      flex-direction: column;
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 0;
    transition: $transition-base;
  }
}
