@use './variables' as *;
@use './theme.scss';
@use './elevations.scss' as *; 
@use './spacing.scss' as *;
@use './layout.scss';
@use './buttons.scss';
@use './material-icons.scss';

html,
body {
  margin: 0;
  height: 100%;
  font-family: $font-family-sans-serif;
  @extend .body-medium;
}

body {
  background-color: var(--md-sys-color-background);

  color: var(--md-sys-color-primary);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// h1,
// h2,
// h3,
// h4,
// h5 {
//   color: var(--theme-text-primary);
// }

// .btn {
//   font-size: 1.1rem;
//   color: $color-brilliant-white;
//   background-color: var(--theme-primary-dark);
//   border-style: solid;
//   border-color: var(--theme-primary-dark);
//   border-radius: 0.5rem;

//   cursor: pointer;
//   padding: 0.4rem 0.8rem;

//   &:hover,
//   &:focus,
//   &:active {
//     border-color: var(--theme-primary-light);
//     filter: contrast(120%);
//   }

//   &-warn {
//     background-color: var(--theme-warn);
//     border-color: var(--theme-warn);
//   }
// }
