// color A:
$color-classic-blue: #34568b;
$color-living-coral: #ff6f61;
$color-ultra-violet: #6b5b95;
$color-greenery: #88b04b;
$color-rose-quartz: #f7cac9;
$color-serenity: #92a8d1;

// color B:
$color-marigold: #fdac53;
$color-cerulean: #9bb7d4;
$color-rust: #b55a30;
$color-illuminating: #f5df4d;
$color-french-blue: #0072b5;
$color-green-ash: #a0daa9;
$color-mint: #00a170;
$color-amethyst-orchid: #926aa6;
$color-raspberry-sorbet: #d2386c;

// color C:
$color-inkwell: #363945;
$color-gray: #939597;
$color-brilliant-white: #edf1ff;
$color-ash: #a09998;

// Dark mode:
// 1. Use lighter tones (colors in the 200–50 range)
//    better readability on dark theme.
// 2. material design recommends #121212 as dark theme surface color
$color-dark-grey: #121212;
