// color A:
$color-classic-blue: #34568b;
$color-living-coral: #ff6f61;
$color-ultra-violet: #6b5b95;
$color-greenery: #88b04b;
$color-rose-quartz: #f7cac9;
$color-serenity: #92a8d1;

// color B:
$color-marigold: #fdac53;
$color-cerulean: #9bb7d4;
$color-rust: #b55a30;
$color-illuminating: #f5df4d;
$color-french-blue: #0072b5;
$color-green-ash: #a0daa9;
$color-mint: #00a170;
$color-amethyst-orchid: #926aa6;
$color-raspberry-sorbet: #d2386c;

// color C:
$color-inkwell: #363945;
$color-gray: #939597;
$color-brilliant-white: #edf1ff;
$color-ash: #a09998;

// Dark mode:
// 1. Use lighter tones (colors in the 200–50 range)
//    better readability on dark theme.
// 2. material design recommends #121212 as dark theme surface color
$color-dark-grey: #121212;

$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// Default xs
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

// Default xs
$spacing: (
  'xs': (
    'sm': 3px,
    'md': 6px,
    'lg': 9px,
  ),
  'sm': (
    'sm': 4px,
    'md': 8px,
    'lg': 12px,
  ),
  'md': (
    'sm': 5px,
    'md': 9px,
    'lg': 13px,
  ),
  'lg': (
    'sm': 6px,
    'md': 10px,
    'lg': 14px,
  ),
  'xl': (
    'sm': 7px,
    'md': 11px,
    'lg': 15px,
  ),
  'xxl': (
    'sm': 8px,
    'md': 12px,
    'lg': 16px,
  ),
);
